<!-- <p>search-or-add works!</p>
<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="container">

        <button class="btn search-btn">
          <span>חפש תרופה / מכשור רפואי</span>
        </button>
           <i class="icon-search"></i>
        <br>
        <br>

        <button class="btn add-btn">
          <span>הוסף תרופה / מכשור רפואי</span>
        </button>
        <i class="icon-add"></i>
      </div>

</body>
</html> -->
<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="button-wrapper">

      <i class="icon-search"></i>
      <button class="btn search-btn">
        <span>חפש תרופה / מכשור רפואי</span>
      </button>
    </div>


    <div class="button-wrapper">
         <i class="icon-add"></i>
      <button class="btn add-btn">
        <span>הוסף תרופה / מכשור רפואי</span>
      </button>
     

    </div>
  </div>
</body>
</html>

  