<p>medicines-component works!</p>
<body>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>תרופות - גלריה</title> -->

</head>

    <div class="container">
        <h1>רשימת תרופות</h1>
        <div class="search-bar">
            <input type="text" placeholder="חפש תרופה...">
        </div>
        <div class="grid">
            <div class="card">
                <img src="../../../assets/picture/צילום מסך 2025-02-04 211854.png"  alt="תרופה 1">
                <h3>שם התרופה</h3>
                <a href="#" class="button">למידע נוסף</a>
            </div>
            <div class="card">
                <img src="../../../assets/picture/צילום מסך 2025-02-04 212407.png" alt="תרופה 2">
                <h3>שם התרופה</h3>
                <a href="#" class="button">למידע נוסף</a>
            </div>
            <div class="card">
                <img src="../../../assets/picture/צילום מסך 2025-02-04 212412.png" alt="תרופה 3">
                <h3>שם התרופה</h3>
                <a href="#" class="button">למידע נוסף</a>
            </div>
        </div>
    </div>

</html>
</body>
