
<!-- חדש הרשמה לקוח\גמ"ח -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="wrapper">
        <div class="title-text">
   
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup">
                <label for="login" class="slide login" #loginBtn>גמ"ח</label>
                <label for="signup" class="slide signup" #signupBtn>לקוח</label>
                <div class="slide-tab"></div>
            </div>
            <div class="form-inner">
                <form action="#" class="login" #loginForm>
                    <div class="field">
                        <input type="text" placeholder="שם" required>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="משפחה" required>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="עיר\יישוב" required>
                    </div>
                    <div class="field">
                        <input type="number" placeholder="רחוב" required>
                    </div>
                    <div class="field">
                        <input type="number" placeholder="מספר בנין" required>
                    </div>
                    <div class="field">
                        <input type="number" placeholder="מספר בית" required>
                    </div>
                    <div class="field">
                        <input type="number" placeholder="זמינות" required>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="טלפון" required>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="הערות" required>
                    </div>
                   
                    <div class="field">
                        <input type="submit" value="הרשמה">
                    </div>
            
            
                </form>

                <form action="#" class="signup" #signupForm>
                    <div class="field">
                        <input type="text" placeholder="שם" required>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="טלפון" required>
                    </div>
                    <div class="field">
                        <input type="text" placeholder=" עיר\יישוב" required>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="רחוב" required>
                    </div>
                    <div class="field">
                        <input type="number" placeholder="מספר בנין" required>
                    </div>
                    <div class="field">
                        <input type="password" placeholder="סיסמה" required>
                    </div>
                    <div class="field">
                        <input type="submit" value="הרשמה" required>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


