/* דף עיצוב חדש */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

  }
  
  html, body{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
  }
  
  .wrapper{
    max-width: 380px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .wrapper .title-text{
    display: flex;
    width: 200%;
  }
  
  .wrapper .title-text .title{
    width: 50%;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #444242;
  }
  
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  
  .form-container .slide-controls{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    border: 1px solid lightgrey;
    overflow: hidden;
    margin: 20px 0 10px 0;
    border-radius: 10px;
    position: relative;
  }
  
  .slide-controls .slide{
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    z-index: 1;
    transition: all .6s ease;        
  }
  
  .slide-controls .signup{
    color: #212121;
  }
  
  .slide-controls .slide-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 0;
    background: -webkit-linear-gradient(left, #2588de, #7ed3f3);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  input[type="radio"]{
    display: none;
  }
  
  #signup:checked ~ .slide-tab{
    left: 50%;
  }
  
  #signup:checked ~ .signup{
    color: #fff;
  }
  
  #signup:checked ~ .login{
    color: #212121;
  }
  
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);;
  }
  
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 8px;
  }
  
  .form-inner form .field input{
    /* width: 100%;
    height: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    transition: all 0.4s ease; */
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 14px;
    padding-left: 10px; /* ריווח פנימי משמאל */
    padding-right: 10px; /* ריווח פנימי מימין */
    border-radius: 10px;
    border: 1px solid lightgray;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
    direction: rtl; /* כיוון טקסט מימין לשמאל */


  }
  
  .form-inner form .field input:focus{
    border-color: #83c8fc;
  }
  
  .form-inner form .pass-link{
    margin-top: 5px;
  }
  
  .form-inner form .pass-link a,
  a{
    color: #42fab0;
    text-decoration: none;
  }
  
  .form-inner form .signup-link{
    color: #212121;
    text-align: center;
    margin-top: 30px;
  }
  
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  
  form .field input[type="submit"]{
    background: -webkit-linear-gradient(left, #3089d7, #7ed3f3);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0;
    border: none;
    cursor: pointer;
    text-align: center;
  }