<!-- <app-user-login></app-user-login> -->
<!-- <router-outlet></router-outlet> -->
 <!-- <app-client-sign-up></app-client-sign-up> -->
 <!-- <app-sign-up></app-sign-up> -->

 <!-- <div class="header">  
    <div class="header__logo">
      <strong>LOGO</strong>
    </div>
    <nav class="navbar">
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a routerLink="/Home" class="navbar__link"><i data-feather="home"></i><span>Home</span></a>
        </li>
        <li class="navbar__item">
          <a routerLink="/Messages" class="navbar__link"><i data-feather="message-square"></i><span>Messages</span></a>        
        </li>
        <li class="navbar__item">
          <a routerLink="/Customers" class="navbar__link"><i data-feather="users"></i><span>Customers</span></a>        
        </li>
        <li class="navbar__item">
          <a routerLink="/Projects" class="navbar__link"><i data-feather="folder"></i><span>Projects</span></a>        
        </li>
        <li class="navbar__item">
          <a routerLink="/Resources" class="navbar__link"><i data-feather="archive"></i><span>Resources</span></a>        
        </li>
        <li class="navbar__item">
          <a routerLink="/Help" class="navbar__link"><i data-feather="help-circle"></i><span>Help</span></a>        
        </li>
        <li class="navbar__item">
          <a routerLink="/Settings" class="navbar__link"><i data-feather="settings"></i><span>Settings</span></a>        
        </li>
      </ul>
    </nav>
  </div> -->
<!--   
 <ul>
    <li><a routerLink="Home">דף הבית</a></li>
     <li><a routerLink="Login">כניסה</a></li>
    <li><a routerLink="SignUp">הרשמה</a></li>
    <li><a routerLink="Search">חיפוש תרופה\מכשור רפואי</a></li>
    <li><a routerLink="Enter">הכנסת צרופה\ציוד למאגר</a></li>
    <li><a routerLink="UserArea">איזור אישי</a></li>
 </ul>
 <router-outlet></router-outlet> -->

 <!-- <ul class="navbar">
  <li><a routerLink="UserArea">איזור אישי</a></li>
  <li><a routerLink="Enter">הכנסת צרופה\ציוד למאגר</a></li>
  <li><a routerLink="Search">חיפוש תרופה\מכשור רפואי</a></li>
  <li><a routerLink="SignUp">הרשמה</a></li>
  <li><a routerLink="Login">כניסה</a></li>
  <li><a routerLink="Home">דף הבית</a></li>

</ul> -->



<!-- <nav class="menu">
  <ol>
    <li class="menu-item"><a href="#0" routerLink="UserArea">איזור אישי</a></li>
    <li class="menu-item"><a href="#0" routerLink="Search">חיפוש\הוספה - תרופה\מכשור רפואי</a></li> -->
    <!-- <li class="menu-item">
      <a href="#0" routerLink="Search">  חיפוש \הוספת תרופה  </a>
      <ol class="sub-menu">
        <li class="menu-item"><a href="#0">Big Widgets</a></li>
        <li class="menu-item"><a href="#0">Bigger Widgets</a></li>
        <li class="menu-item"><a href="#0">Huge Widgets</a></li>
      </ol>
    </li> -->
    <!-- <li class="menu-item">
      <a href="#0" routerLink="SignUp">הרשמה</a> -->
      <!-- <ol class="sub-menu">
        <li class="menu-item"><a href="#0">Shishkabobs</a></li>
        <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
        <li class="menu-item"><a href="#0">Summer kabobs</a></li>
      </ol> -->
    <!-- </li>
    <li class="menu-item"><a href="#0" routerLink="Login">כניסה</a></li>
    <li class="menu-item"><a href="#0" routerLink="Home">דף הבית</a></li>
  </ol>
</nav> -->


<!-- <!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>תפריט</title>

</head>
<body>
  <header class="main-header">
    <div class="container">
      <div class="logo">
        <span>לוגו או סלוגן</span>
      </div>
      <nav class="nav-menu">
        <ul class="menu-list">
      
          <li><a href="#0" routerLink="Home">דף הבית</a></li>

     
          <li><a href="#0" routerLink="Login">כניסה</a></li>
       

          <li>
            <a href="#0" routerLink="Search">חיפוש\הוספה - תרופה\מכשור רפואי</a>
         

      

          <li><a href="#0" routerLink="UserArea">איזור אישי</a></li>
        </ul>
      </nav>
    
    </div>
  </header>
</body>
</html> -->


<!DOCTYPE html>
<html lang="he" dir="rtl">
<head>
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>תפריט מעוצב</title> -->

</head>
<body>
  <header class="main-header">
    <div class="container">
      <div class="user-area">
        <img src="../assets/picture/image.png" alt="אזור אישי" class="user-icon">
        <span>לוגו או סלוגן </span>
      </div>
      <!-- תפריט ניווט -->
      <nav class="nav-menu">
        <ul class="menu-list">
          <li class="menu-item"><a href="#0" routerLink="Home">דף הבית</a></li>
          <li class="menu-item"><a href="#0" routerLink="Login">כניסה</a></li>
          <li class="menu-item"><a href="#0" routerLink="SignUp">הרשמה</a></li>
          <li class="menu-item"><a href="#0" routerLink="Search">חיפוש/הוספת תרופה/מכשור רפואי</a></li>
        </ul>
      </nav>
          <!-- אזור אישי -->
          <div class="user-area">
       
            <img src="../assets/picture/image.png" alt="אזור אישי" class="user-icon">
            <span class="menu-item"><a href="#0" routerLink="UserArea"> איזור אישי</a></span>

          </div>
    </div>
  </header>

  <router-outlet></router-outlet>
</body>
</html>



<router-outlet></router-outlet> 